Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.1
marshmallow==3.21.3
marshmallow-sqlalchemy==1.1.0
psycopg2-binary
psycopg2
# For PostgreSQL production use: pip install pg8000
python-dotenv==1.0.1
Werkzeug==3.0.3
APScheduler==3.10.4
reportlab==4.2.2
openpyxl==3.1.4
python-dateutil==2.9.0
gunicorn