Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-CORS
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
python-dotenv
Werkzeug
APScheduler
reportlab
openpyxl
gunicorn
psycopg[binary]
python-dateutil